Repository emmeowzing/dynamic-continuation-orb: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck-bash, shellcheck-bats

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=10000, --enforce-all]
      # - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: shellcheck-bash
        language: script
        name: shellcheck bash scripts
        entry: /usr/bin/env shellcheck
        args:
          - -x
          - --shell=bash
        files: '^.*.sh$'
      - id: shellcheck-bats
        language: script
        entry: /usr/bin/env shellcheck
        name: shellcheck bats tests
        args:
          - -x
          - --shell=bats
        files: '^.*.bats$'

  - repo: https://github.com/premiscale/pre-commit-hooks
    rev: v0.0.9
    hooks:
    -   id: msg-issue-prefix

fix-anchors: retest
  src/tests/anchors-105.bats
Due: shellcheck-bats

fix-anchors: separate flags ?
  src/tests/anchors-105.bats
Due: shellcheck-bats

fix-anchors: verify
  src/tests/anchors-105.bats
Due: shellcheck-bats

fix-anchors: this should fail
  src/tests/data/105/example-2.yml
Due: none

fix-anchors: this def fails
  src/tests/anchors-105.bats
Due: shellcheck-bats

fix-anchors:
  .circleci/example-1.yml
  .circleci/example-2.yml
  src/tests/anchors-105.bats
Due: shellcheck-bats

fix-anchors: ?
  .circleci/example-1.yml
  .circleci/example-2.yml
  src/tests/anchors-105.bats
  src/tests/data/105/example-1.yml
  src/tests/data/105/example-2.yml
  src/tests/data/105/expected-result.yml
Due: shellcheck-bats

fix-anchors: this should make tests fail
  .circleci/example-1.yml
  .circleci/example-2.yml
Due: none

fix-anchors: fix orb lint
  .circleci/example-1.yml
  .circleci/example-2.yml
  .circleci/src.yml
Due: none

fix-anchors: fix diff
  src/tests/anchors-105.bats
  src/tests/data/105/example-1.yml
Due: shellcheck-bats

fix-anchors: this time the test should fail
  src/tests/data/105/example-1.yml
Due: none

fix-anchors: rename test
  .circleci/example-1.yml
  .circleci/example-2.yml
  src/tests/anchors-105.bats
Due: shellcheck-bats

fix-anchors: remove examples from vcs
  .circleci/example-1.yml
  .circleci/example-2.yml
Due: none

fix-anchors: implement my own tests
  .circleci/src.yml
  src/tests/anchors-105.bats
Due: shellcheck-bats

fix-anchors: fix job dep
  .circleci/src.yml
Due: none

fix-anchors: lol
  .circleci/src.yml
Due: none

fix-anchors: uncomment _diff
  src/tests/anchors-105.bats
Due: shellcheck-bats

fix-anchors: fix
  .circleci/src.yml
Due: none

fix-anchors: fix titles
  .circleci/src.yml
Due: none

fix-anchors: improve shellchecking in CI
  .circleci/scripts.yml
Due: none

fix-anchors: minor naming convention fix
  .circleci/scripts.yml
Due: none

fix-anchors: fix test now
  src/tests/data/105/example-1.yml
Due: none

fix-anchors: implement testing (#108)
  .circleci/config.yml
  .circleci/scripts.ignore
  .circleci/scripts.yml
  .circleci/src.yml
  .github/FUNDING.yml
  .pre-commit-config.yaml
  .shellcheckrc
  .tool-versions
  src/examples/example-pipeline.yml
  src/scripts/filter.sh
  src/scripts/reduce.sh
  src/tests/.placeholder
  src/tests/anchors-105.bats
  src/tests/data/105/example-1.yml
  src/tests/data/105/example-2.yml
  src/tests/data/105/expected-result.yml
  src/tests/force-all-93.bats
Due: shellcheck-bash, shellcheck-bats

main: add additional context for github releases
  .circleci/config.yml
Due: none

main: bump continuation dependency
  src/@orb.yml
Due: none

Update README.md
  README.md
Due: none

Update README.md (#117)
  README.md
Due: none

Update README.md (#118)
  README.md
Due: none

Collapsed examples
  README.md
Due: none

ci-library-support: fr
  .circleci/config.yml
  scripts/circleci-config-validate.sh
  src/commands/filter.yml
  src/commands/reduce.yml
  src/jobs/continue.yml
  src/scripts/filter.sh
  src/scripts/reduce.sh
Due: shellcheck-bash

Sync
  .circleci/config.yml
Due: none

ci-library-support: test
  .circleci/config.yml
Due: none

ci-library-support: test alpha
  .circleci/config.yml
  .circleci/library-config.yml
  .circleci/src.yml
Due: none

ci-library-support: fix path
  src/scripts/reduce.sh
Due: shellcheck-bash

ci-library-support: publish alpha
  .circleci/config.yml
Due: none

ci-library-support: switch to alpha
  .circleci/config.yml
Due: none
